:root {
	--logo_font: "Raleway", sans-serif;
	--main_font: "Roboto", sans-serif;
}
* {
	box-sizing: border-box;
}
.header {
	background-color: #ffffff;
	padding: 25px 215px;
	display: flex;
	align-items: center;
}

.dots {
	list-style: none;
}
.dis_link {
	text-decoration: none;
}
.navigation_links:hover {
	color: #2196f3;
}
.kontakt_links:hover {
	color: #2196f3;
}
.navigation_links {
	font-family: var(--main_font);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}
.kontakt_links {
	font-family: var(--main_font);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
}
.navigation_item {
	margin-right: 50px;
	/* background-color: #2196f3; */
}
.logo {
	font-family: var(--logo_font);
	margin-right: 90px;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: #2196f3;
}
.logo2 {
	color: #000000;
}
.navigation_list {
	display: flex;
}
.navigation {
	margin-right: 330px;
}
.s1 {
	background-color: #2f303a;
}
